.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

aboutrs/.DS_Store
# trunk output folder
aboutrs/dist
aboutrs/target
# Rust compile target directories:
aboutrs/target_ra
aboutrs/target_wasm
aboutrs/.lycheecache
